<main class="flex flex-col justify-center items-center w-full py-8 min-h-screen">
    <div class="text-center text-white mb-8">
        <h1 class="uppercase text-6xl font-bold mb-3">PowerPeak</h1>
        <h3 class="text-xl">Bem-vindo, user</h3>
    </div>
    <div class="grid lg:grid-cols-2 gap-3">
        <div>
            <app-visao-geral></app-visao-geral>
        </div>
        <div>
            <app-grafico-donut></app-grafico-donut>
        </div>
        <div>
            <app-line-chart></app-line-chart>
        </div>
        <div>
            <app-historico></app-historico>
        </div>
    </div>
</main>