<div class="bg-dashboard-block p-6 text-white h-full">
  <div class="overflow-x-auto">
    <table class="min-w-full text-sm text-center">
      <thead>
        <tr
          class="text-gray-200 tracking-wider border-b border-gray-200"
        >
          <th class="py-3">DATA</th>
          <th class="py-3">CONSUMO (kWh)</th>
          <th class="py-3">R$</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dia of dadosConsumo" class="border-b border-gray-600">
          <td class="py-3">{{dia.data}}</td>
          <td class="py-3">{{dia.kwh.toFixed(2)}}</td>
          <td class="py-3">{{dia.valor_total.toFixed(2)}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
