.main-page {
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 100vh;
    width: 100vw;

    .background-login {
        pointer-events: none;
        flex-grow: 3;
        user-select: none;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}