@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

/* You can add global styles to this file, and also import other style files */
.main-gradient {
  background: linear-gradient(to bottom, #418385, #5FD996);
}

.bg-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.bg-dashboard-block{
  background: #333;
  border-radius: 0.3em;
}

.custom-input {
    display: flex;
    flex-direction: column;

    > label {
        transition: translate .2s, opacity .2s;
        translate: 0 1.5em;
        opacity: .6;
        pointer-events: none;
        // padding-bottom: .3em;
    }

    > input {
        border-bottom: 2px solid #eee4;
        background-color: transparent !important;
        outline: none;
        padding: .25em .75em;
        transition: border-color .3s;

        &:focus {
            border-color: #eee7;
        }
    }

    &:has(input:focus, input:valid) > label {
        translate: 0;
        pointer-events: auto;
    }

    &:has(input:valid) > label {
        opacity: 1;
    }
}