.custom-input {
    display: flex;
    flex-direction: column;

    > label {
        transition: translate .2s, opacity .2s;
        translate: 0 1.5em;
        opacity: .6;
        pointer-events: none;
        // padding-bottom: .3em;
    }

    > input {
        border-bottom: 2px solid #eee4;
        background-color: transparent !important;
        outline: none;
        padding: .25em .75em;
        transition: border-color .3s;

        &:focus {
            border-color: #eee7;
        }
    }

    &:has(input:focus, input:valid) > label {
        translate: 0;
        pointer-events: auto;
    }

    &:has(input:valid) > label {
        opacity: 1;
    }
}