<main class="main-login-form">
  <h1 class="login-title">PowerPeak</h1>
  <form class="login-form" (ngSubmit)="onSubmit()">
    <h1 class="title">Entrar</h1>
    <div class="form-content">
      <ul class="inputs">
        <div class="custom-input">
          <label class="font-semibold" for="email">Seu email</label>
          <input [(ngModel)]="user.email" type="email" id="email" name="email" required />
        </div>
        <div class="custom-input">
          <label class="font-semibold" for="password">Crie uma senha</label>
          <input
            [(ngModel)]="user.password"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
      </ul>
      <button class="form-submit" type="submit">Entrar</button>
      <section class="flex flex-col gap-2">
        <a href="/register">Ainda não tenho um cadastro</a>
      </section>
    </div>
  </form>
</main>
