<main class="main-login-form">
    <h1 class="login-title">PowerPeak</h1>
    <form class="login-form">
        <h1 class="title">Entrar</h1>
        <div class="form-content">
            <ul class="inputs">
                <app-custom-input [id]="'email'" [type]="'text'" [placeholder]="'Email ou nome de usuário'"></app-custom-input>
                <app-custom-input [id]="'senha'" [type]="'password'" [placeholder]="'Senha'"></app-custom-input>
            </ul>
            <button class="form-submit">Entrar</button>
            <section>
                <button>Esqueci minha senha</button>
                <button>Ainda não tenho um cadastro</button>
            </section>
        </div>
    </form>
</main>